*.mode1v3
*.perspectivev3
*.pbxuser
.DS_Store
build/



vd/Surveillance-revelations-KMA-Wh7MHzavInQ.mp4

*.mp4

*.txt

*.apk

*.css

*.pdf

*.xml

*.eot

*.ttf

*.svg

*.woff

*.gif

*.png

*.jpg


*.html

*.mp3

*.safariextz

*.rm

*.ram


